.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 74px auto 106px auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
}

.profile__inputs-block {
  margin: 0;
  padding: 0;
  border: none;
  width: 410px;
}

.profile__label {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.profile__label:last-of-type {
  border-bottom: none;
}

.profile__placeholder {
  margin: 0;
  padding: 18px 0 16px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: 500;
}

.profile__input {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  text-align: end;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: 400;
  width: calc(100% - 40px);
}

.profile__input:focus {
  outline: none;
}

/* .profile__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #FFFFFF !important;
} */

.profile__input-error_active {
  top: 48px;
  z-index: 2;
}

.profile__buttons-block {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile__error {
  width: 410px;
  position: absolute;
  top: 174px;
}

.profile__edit-button {
  margin: 204px 0 0 0;
  width: 410px;
  border: none;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 80%;
}

.profile__edit-button_disabled {
  opacity: 0.3;
  pointer-events: none;
  background-color: #FFFFFF;
  color: #000000;
}

.profile__signout-button {
  margin: 16px 0 70px 0;
  color: #FF4062;
  width: 410px;
  border: none;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 500;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.profile__signout-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 236px auto 79px auto;
  }

  .profile__error {
    top: 164px;
  }

  .profile__edit-button {
    margin: 194px 0 0 0;
  }
}

@media screen and (max-width: 520px) {
  .profile__title {
    margin: 70px auto 63px auto;
  }

  .profile__inputs-block {
    width: calc(100% - 60px);
  }

  .profile__error {
    top: 333px;
  }

  .profile__edit-button {
    margin: 363px 0 0 0;
    width: calc(100% - 20px);
    font-size: 12px;
    line-height: 15px;
  }

  .profile__signout-button {
    margin: 16px 0 40px 0;
    width: 300px;
    font-size: 12px;
    line-height: 15px;
  }
}
