.movies-section {
  margin: 80px auto 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 24px;
}

.more-section {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}

.more-section__button {
  padding: 11px 0 9px 0;
  margin: 0 0 71px 0;
  border: none;
  border-radius: 6px;
  background-color: #F9F9F9;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.more-section__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 980px) {
  .movies-section {
    margin: 80px auto 30px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 680px) {
  .movies-section {
    margin: 50px auto 26px auto;
    grid-template-columns: 1fr;
    row-gap: 14px
  }
}
