.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 364px;
  border-radius: 6px;
  border: none;
  overflow: hidden;
  transition: opacity 0.35s linear;
  cursor: pointer;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movie__image {
  height: 203px;
  object-fit: cover;
  width: 100%;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 32px);
  margin: 9px 0 16px 0;
  align-items: flex-start;
}

.movie__figcaption {
  display: flex;
  flex-direction: column;
  margin: 7px 12px 0 0;
  width: calc(100% - 62px);
}

.movie__title {
  margin: 0;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__duration {
  margin: 17px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: 400;
  color: #A0A0A0;
}

.movie__like-button {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.movie__like-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 980px) {
  .movie__image {
    height: 190px;
    width: 339px;
  }

  .movie__info {
    width: calc(100% - 28px);
    margin: 8px 0 14px 0;
  }

  .movie__figcaption {
    margin: 6px 21px 0 0;
    width: calc(100% - 58px);
  }

  .movie__duration {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 680px) {
  .movie__image {
    height: 168px;
    width: 300px;
  }

  .movie__info {
    width: calc(100% - 20px);
    margin: 7px 0 14px 0;
  }

  .movie__figcaption {
    margin: 7px 6px 0 0;
    width: calc(100% - 54px);
  }

  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie__duration {
    margin: 14px 0 0 0;
    font-size: 10px;
    line-height: 12px;
  }
}
