.searchform__container {
  display: flex;
  padding: 0 0 69px 0;
  margin: 0;
  max-width: 1140px;
  border-bottom: 1px solid #E8E8E8;
}

.searchform__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFDFD;
  border-radius: 9px;
  width: 100%;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.searchform__input-block {
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% - 90px);
}

.searchform__input {
  background-image: url("../../../images/searchform__icon.svg");
  background-color: transparent;
  background-size: 13px 17px;
  background-repeat: no-repeat;
  background-position: 30px 50%;
  border: none;
  height: 100%;
  width: calc(100% - 150px);
  padding: 0 0 0 63px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #A0A0A0;
}

.searchform__input:focus {
  outline: none;
}

.searchform__button {
  margin: 19px 19px 19px 0;
  width: 80px;
  height: 34px;
  border: none;
  padding: 0;
  background-color: #000000;
  border-radius: 48px;
  background-image: url("../../../images/searchform__button-icon.svg");
  background-size: 13px 17px;
  background-repeat: no-repeat;
  background-position: 34px 50%;
}
